In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import StandardScaler
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
import joblib
import torch

In [2]:
task_data = pd.read_csv("task_data_1.csv")
task_epoc = pd.read_csv("Task_epocs_1.csv")
col = task_epoc.columns.to_list()

In [3]:
#task_data.head()

task_data = task_data.drop('Events', axis=1)

task_data.head()

   Time  Position_x  Position_y
0   NaN         NaN         NaN
1   NaN         NaN         NaN
2   NaN         NaN         NaN
3   NaN         NaN         NaN
4   NaN         NaN         NaN

In [19]:
task_data_cleaned = task_data.dropna(subset=['Time'])

task_data_cleaned

              Time  Position_x  Position_y
23       4377832.0       936.6       136.3
24       4377833.0       936.2       136.5
25       4377834.0       936.6       136.6
26       4377835.0       937.0       136.6
27       4377836.0       937.1       136.5
...            ...         ...         ...
1369473  6677900.0      1004.3         NaN
1369474  6677901.0      1004.3         NaN
1369475  6677902.0      1004.1         NaN
1369476  6677903.0      1003.6         NaN
1369478  6677904.0      1003.1         NaN

[1360860 rows x 3 columns]

In [14]:
task_data2 = task_data.dropna(subset=['Time'])
first_value = task_data2.iloc[0, 0]
task_data2 -= first_value

In [15]:
task_data2

              Time  Position_x  Position_y
23             0.0  -4376895.4  -4377695.7
24             1.0  -4376895.8  -4377695.5
25             2.0  -4376895.4  -4377695.4
26             3.0  -4376895.0  -4377695.4
27             4.0  -4376894.9  -4377695.5
...            ...         ...         ...
1369473  2300068.0  -4376827.7         NaN
1369474  2300069.0  -4376827.7         NaN
1369475  2300070.0  -4376827.9         NaN
1369476  2300071.0  -4376828.4         NaN
1369478  2300072.0  -4376828.9         NaN

[1360860 rows x 3 columns]

In [21]:
task_data_cleaned = task_data.dropna(subset=['Time'])
first_value = task_data_cleaned.iloc[0, 0]
task_data_cleaned['Time'] -= first_value

C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\1789593544.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task_data_cleaned['Time'] -= first_value

In [22]:
task_data_cleaned

              Time  Position_x  Position_y
23             0.0       936.6       136.3
24             1.0       936.2       136.5
25             2.0       936.6       136.6
26             3.0       937.0       136.6
27             4.0       937.1       136.5
...            ...         ...         ...
1369473  2300068.0      1004.3         NaN
1369474  2300069.0      1004.3         NaN
1369475  2300070.0      1004.1         NaN
1369476  2300071.0      1003.6         NaN
1369478  2300072.0      1003.1         NaN

[1360860 rows x 3 columns]

In [23]:
task_data_cleaned['Position_x'].fillna(-1,inplace = True)
task_data_cleaned['Position_y'].fillna(-1,inplace = True)

C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\3095674600.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  task_data_cleaned['Position_x'].fillna(-1,inplace = True)
C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\3095674600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task_data_cleaned['Position_x'].fillna(-1,inplace = True)
C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\3095674600.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  task_data_cleaned['Position_y'].fillna(-1,inplace = True)
C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\3095674600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task_data_cleaned['Position_y'].fillna(-1,inplace = True)

In [24]:
task_data_cleaned

              Time  Position_x  Position_y
23             0.0       936.6       136.3
24             1.0       936.2       136.5
25             2.0       936.6       136.6
26             3.0       937.0       136.6
27             4.0       937.1       136.5
...            ...         ...         ...
1369473  2300068.0      1004.3        -1.0
1369474  2300069.0      1004.3        -1.0
1369475  2300070.0      1004.1        -1.0
1369476  2300071.0      1003.6        -1.0
1369478  2300072.0      1003.1        -1.0

[1360860 rows x 3 columns]

In [25]:
tags = pd.read_csv('tags.csv')
tags

    Subject    Group
0         1     ADHD
1         2     ADHD
2         3     ADHD
3         4     ADHD
4         5     ADHD
..      ...      ...
62       46  Control
63       47  Control
64       48  Control
65       49  Control
66       50  Control

[67 rows x 2 columns]

In [26]:
for i in range(len(tags)):
    if tags.iloc[i, 1] == 'ADHD':
        tags.iloc[i, 1] = 1
    elif tags.iloc[i, 1] == 'Control':
        tags.iloc[i, 1] = 0

In [27]:
tags

    Subject Group
0         1     1
1         2     1
2         3     1
3         4     1
4         5     1
..      ...   ...
62       46     0
63       47     0
64       48     0
65       49     0
66       50     0

[67 rows x 2 columns]

In [9]:
task_data_cleaned.shape

(1360860, 3)

In [10]:
task_data.shape

(1369480, 3)

In [28]:
task_data_cleaned['output'] = 1

C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\1419443264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task_data_cleaned['output'] = 1

In [29]:
task_data_cleaned.head()

    Time  Position_x  Position_y  output
23   0.0       936.6       136.3       1
24   1.0       936.2       136.5       1
25   2.0       936.6       136.6       1
26   3.0       937.0       136.6       1
27   4.0       937.1       136.5       1

In [30]:
task_data_cleaned

              Time  Position_x  Position_y  output
23             0.0       936.6       136.3       1
24             1.0       936.2       136.5       1
25             2.0       936.6       136.6       1
26             3.0       937.0       136.6       1
27             4.0       937.1       136.5       1
...            ...         ...         ...     ...
1369473  2300068.0      1004.3        -1.0       1
1369474  2300069.0      1004.3        -1.0       1
1369475  2300070.0      1004.1        -1.0       1
1369476  2300071.0      1003.6        -1.0       1
1369478  2300072.0      1003.1        -1.0       1

[1360860 rows x 4 columns]

In [31]:
task_data = task_data_cleaned
for i in range(1,len(tags)):
    task_data_1 = pd.read_csv('task_data_{}.csv'.format(i+1))
    task_data_1 = task_data_1.drop('Events', axis=1)
    task_data_1 = task_data_1.dropna(subset=['Time'])
    first_value = task_data_1.iloc[0, 0]
    task_data_1['Time'] -= first_value
    task_data_1['output'] = tags.iloc[i, 1]
    task_data = pd.concat([task_data, task_data_1], ignore_index=True)

In [32]:
task_data.head()

   Time  Position_x  Position_y  output
0   0.0       936.6       136.3       1
1   1.0       936.2       136.5       1
2   2.0       936.6       136.6       1
3   3.0       937.0       136.6       1
4   4.0       937.1       136.5       1

In [35]:
nan_values = task_data['Position_y'].isna()

# Check if there are any NaN values in the DataFrame
any_nan = nan_values.any().any()

# Count the number of NaN values in the DataFrame
num_nan = nan_values.sum().sum()

print("Are there any NaN values in the DataFrame?", any_nan)
print("Number of NaN values in the DataFrame:", num_nan)

Are there any NaN values in the DataFrame? False
Number of NaN values in the DataFrame: 0

In [34]:
task_data['Position_x'].fillna(-1,inplace = True)
task_data['Position_y'].fillna(-1,inplace = True)

C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\1306665614.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  task_data['Position_x'].fillna(-1,inplace = True)
C:\Users\Ghareeb\AppData\Local\Temp\ipykernel_27112\1306665614.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  task_data['Position_y'].fillna(-1,inplace = True)

In [36]:
task_data.to_csv('task_data_final.csv', index = False)

In [3]:
task_data = pd.read_csv('Task_data_final.csv')

In [3]:
shape = task_data.shape 
print("The data set has", shape[0],"data Points")
print("The data set has", shape[1],"Variable")

The data set has 96592400 data Points
The data set has 4 Variable

In [99]:
class_0_subset = task_data[task_data['output'] == 0]
class_1_subset = task_data[task_data['output'] == 1]

# Randomly sample 50,000 points from each subset
sample_class_0 = class_0_subset.sample(n=6000000)
sample_class_1 = class_1_subset.sample(n=6000000)

final_task_data = pd.concat([sample_class_0, sample_class_1], ignore_index=True)

# Shuffle the final sample to ensure randomness
final_task_data = final_task_data.sample(frac=1, random_state=42).reset_index(drop=True)

In [100]:
y = final_task_data.iloc[:, -1]
x = final_task_data.drop('output', axis = 1)


#x.columns = None
y.shape

(12000000,)

In [101]:
scaler = StandardScaler()

#scaler.fit(x.drop('output', axis = 1))
scaler.fit(x)

x = scaler.transform(x)

In [102]:
#x.columns  = ["","",""]
#y.columns = [""]

#y.shape
y.shape

(12000000,)

In [29]:
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [103]:
x_train, x_test, y_train, y_test = \
        train_test_split(x, y, train_size=0.7, random_state= None)

In [25]:
from tqdm import tqdm

In [104]:
pbar = tqdm(total=4, desc="Model Training and Testing")
rf_classifier = RandomForestClassifier(n_estimators=100, criterion='log_loss',n_jobs=-1)
rf_classifier.fit(x_train, y_train)
pbar.update(1)
y_pred = rf_classifier.predict(x_test)
accuracy_score(y_test, y_pred)
pbar.update(1)
# kfold_scores = cross_val_score(rf_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
# val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", rf_classifier.score(x_train, y_train))
print("Test Accuracy: ", accuracy_score(y_test, y_pred))
# print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing:  50%|█████     | 2/4 [09:12<07:53, 236.67s/it]

Train Accuracy:  0.9877045238095238

Model Training and Testing: 100%|██████████| 4/4 [11:06<00:00, 166.64s/it]

Test Accuracy:  0.9194236111111111

In [105]:
joblib.dump(rf_classifier, 'RF_model.pkl')

['RF_model.pkl']

In [72]:
pbar = tqdm(total=4, desc="Model Training and Testing")
KNN_classifier = KNeighborsClassifier(n_neighbors= 5)
KNN_classifier.fit(x_train, y_train)
train_pred = KNN_classifier.predict(x_train)
train_score = accuracy_score(y_train, train_pred)
pbar.update(1)
y_pred = rf_classifier.predict(x_test)
test_score = accuracy_score(y_test, y_pred)
pbar.update(1)
kfold_scores = cross_val_score(KNN_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", KNN_classifier.score(x_train, y_train))
print("Test Accuracy: ", test_score)
print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing: 100%|██████████| 4/4 [01:53<00:00, 28.38s/it]

Train Accuracy:  0.9017152058318427
Test Accuracy:  0.8696122152090114
Cross Validation Accuracy:  0.8387824887642596

In [66]:
pbar = tqdm(total=5, desc="Model Training and Testing")
ensemble = VotingClassifier(estimators=[('knn', KNN_classifier), ('rf', rf_classifier)], voting='hard')
ensemble.fit(x_train, y_train)
pbar.update(1)
train_pred = KNN_classifier.predict(x_train)
train_score = accuracy_score(y_train, train_pred)
pbar.update(1)
y_pred_ensemble = ensemble.predict(x_test)
test_score_ensemble = accuracy_score(y_test, y_pred_ensemble)
pbar.update(1)
kfold_scores = cross_val_score(KNN_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", train_score)
print("Test Accuracy: ", test_score_ensemble)
print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing:   0%|          | 0/5 [00:14<?, ?it/s]
Model Training and Testing: 100%|██████████| 5/5 [05:52<00:00, 70.54s/it]

Train Accuracy:  0.9017152058318427
Test Accuracy:  0.8566551032021352
Cross Validation Accuracy:  0.8387824887642596

In [41]:
pbar = tqdm(total=4, desc="Model Training and Testing")
xgb_classifier = XGBClassifier()
xgb_classifier.fit(x_train, y_train)
train_pred = xgb_classifier.predict(x_train)
train_score = accuracy_score(y_train, train_pred)
pbar.update(1)
y_pred = xgb_classifier.predict(x_test)
test_score = accuracy_score(y_test, y_pred)
pbar.update(1)
kfold_scores = cross_val_score(xgb_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", train_score)
print("Test Accuracy: ", test_score)
print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing: 100%|██████████| 4/4 [00:09<00:00,  2.42s/it]

Train Accuracy:  0.7536271428571428
Test Accuracy:  0.74916
Cross Validation Accuracy:  0.7495342857142857

In [42]:
pbar = tqdm(total=4, desc="Model Training and Testing")
lgb_classifier = LGBMClassifier()
lgb_classifier.fit(x_train, y_train)
train_pred = lgb_classifier.predict(x_train)
train_score = accuracy_score(y_train, train_pred)
pbar.update(1)
y_pred = lgb_classifier.predict(x_test)
test_score = accuracy_score(y_test, y_pred)
pbar.update(1)
kfold_scores = cross_val_score(lgb_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", train_score)
print("Test Accuracy: ", test_score)
print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing:   0%|          | 0/4 [00:00<?, ?it/s]

[LightGBM] [Info] Number of positive: 350020, number of negative: 349980
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003804 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 765
[LightGBM] [Info] Number of data points in the train set: 700000, number of used features: 3
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500029 -> initscore=0.000114
[LightGBM] [Info] Start training from score 0.000114

Model Training and Testing: 100%|██████████| 4/4 [00:08<00:00,  2.22s/it]

Train Accuracy:  0.7326571428571429
Test Accuracy:  0.7302866666666666
Cross Validation Accuracy:  0.7315814285714286

In [44]:
pbar = tqdm(total=4, desc="Model Training and Testing")
HGB_classifier = HistGradientBoostingClassifier()
HGB_classifier.fit(x_train, y_train)
train_pred = HGB_classifier.predict(x_train)
train_score = accuracy_score(y_train, train_pred)
pbar.update(1)
y_pred = HGB_classifier.predict(x_test)
test_score = accuracy_score(y_test, y_pred)
pbar.update(1)
kfold_scores = cross_val_score(HGB_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", train_score)
print("Test Accuracy: ", test_score)
print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing: 100%|██████████| 4/4 [00:12<00:00,  3.22s/it]

Train Accuracy:  0.73163
Test Accuracy:  0.7301233333333333
Cross Validation Accuracy:  0.7307971428571428

In [62]:
pbar = tqdm(total=4, desc="Model Training and Testing")
MLP_classifier = MLPClassifier(hidden_layer_sizes=(100,), activation='tanh', solver='sgd')
MLP_classifier.fit(x_train, y_train)
train_pred = MLP_classifier.predict(x_train)
train_score = accuracy_score(y_train, train_pred)
pbar.update(1)
y_pred = MLP_classifier.predict(x_test)
test_score = accuracy_score(y_test, y_pred)
pbar.update(1)
kfold_scores = cross_val_score(MLP_classifier, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", train_score)
print("Test Accuracy: ", test_score)
print("Cross Validation Accuracy: ", val_acc)
pbar.update(1)
pbar.close()

Model Training and Testing: 100%|██████████| 4/4 [14:25<00:00, 216.29s/it]

Train Accuracy:  0.6978466304557454
Test Accuracy:  0.6967102459279859
Cross Validation Accuracy:  0.6931425443184789

In [32]:
pbar = tqdm(total=2, desc="Model Training and Testing")
svm_model = SVC()
svm_model.fit(x_train, y_train)
pbar.update(1)
y_pred = svm_model.predict(x_test)
accuracy_score(y_test, y_pred)
kfold_scores = cross_val_score(svm_model, x_train, y_train, cv=5, n_jobs=-1)
pbar.update(1)
# get the average score for the cross validation
val_acc = sum(kfold_scores) / len(kfold_scores)
print("Train Accuracy: ", svm_model.score(x_train, y_train))
print("Test Accuracy: ", accuracy_score(y_test, y_pred))
print("Cross Validation Accuracy: ", val_acc)
pbar.close()

Model Training and Testing: 100%|██████████| 2/2 [15:26<00:00, 463.29s/it]

Train Accuracy:  0.6778285714285714
Test Accuracy:  0.6762
Cross Validation Accuracy:  0.6751142857142858

In [39]:
joblib.dump(svm_model, 'SVM_model.pkl')

['SVM_model.pkl']

In [46]:
random_sample = pd.DataFrame(x_test).sample(n=3)

random_sample.columns
# random_sample = x_test[130, :].reshape(1,-1)
#print(random_sample)
output = svm_model.predict(random_sample)
print(output)
if output[2] == 1:
    print("ADHD")
else:
    print("Non-ADHD")

[1 0 1]
ADHD

: